{{#*inline "title"}}
	<header>{{> @partial-block}}</header>
{{/inline}}

{{#*inline "list-title"}}
	{{#if (existy link)}}
		<a id="{{link}}"></a>
		<a href="/pages/services#{{link}}">
	{{/if}}
		{{#> title}}{{title}}{{/title}}
	{{#if (existy link)}}
		</a>
	{{/if}}
{{/inline}}

{{#*inline "price"}}
	<table class="price-table">
		<tbody>
			<tr>
				<td class="left">
					{{#if (existy link)}}
						<a id="{{link}}"></a>
						<a href="/pages/services#{{link}}">
					{{/if}}
					{{#if (existy title)}}
						{{#> title}}{{title}}{{/title}}
					{{else}}
						{{item}}
					{{/if}}
					{{#if (existy link)}}
						</a>
					{{/if}}
				</td>
				<td class="center"><hr></td>
				<td class="right">{{price}} €</td>
			</tr>
		</tbody>
	</table>
{{/inline}}

{{#*inline "price-list"}}
	<ul class="price-list" data-depth="{{depth}}">
	{{#each list}}
		<li>
			{{#if (existy list)}}
				{{> list-title}}
				{{> price-list depth=(inc ../depth)}}
			{{/if}}
			{{#if (existy price)}}
				{{> price}}
			{{/if}}
			{{#if (existy description)}}
				{{#> title}}{{title}}{{/title}}
				<p>{{description}}</p>
			{{/if}}
		</li>
	{{/each}}
	</ul>
{{/inline}}

{{> price-list prices depth=0}}
